<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1>Edit your Profile</h1>
    <form class = "editRobotForm" action="/editrobot/{{_id}}" method="POST">
      <input type="text" name="name" placeholder="name" value= "{{name}}">
      <input type="text" name="email" placeholder="email" value="{{email}}">
      <input type="text" name="university" placeholder="university" value="{{university}}">
      <input type="text" name="job" placeholder="job" value="{{job}}">
      <input type="text" name="company" placeholder="company" value="{{company}}">
      <input type="text" name="skills" placeholder="skills" value="{{skills}}">
      <input type="text" name="phone" placeholder="phone" value="{{phone}}">
      <input type="text" name="avatar" placeholder="avatar" value="{{avatar}}">
      <input type="text" name="address" placeholder="address" value="{{address.country}}">
      <hr>
      <input type="submit" name="" value="Submit your edits to your profile!">
      <hr>
      <a href = "http://localhost:3000/robots">Return to home page</a>
    </form>
  </body>
</html>
