<!DOCTYPE html>
<html>
  {{>_head}}
  <body>
    <header>
      <ul class="nav nav-pills">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Logout</a></li>
      </ul>
    </header>
    <div class="container">
      {{#robots}}
      <a href="http://localhost:3000/robot/{{_id}}">
        {{>robot}}
        </a>
      {{/robots}}
      {{^robots}}
         <p>sorry no robots</p>
      {{/robots}}
    </div>
  </body>
</html>
